<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/images/logo-pest.png" type="image/x-icon">
    <title>Mercado liebre</title>
  </head>
  <body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <a class="main-header-logo" href="/">
          <img
            src="images/logo-mercado-liebre.svg"
            alt="Logo de Mercado Liebre"
          />
        </a>
        <form class="nav-search">
          <input
            class="nav-search-input"
            type="text"
            placeholder="Buscar productos, marcas"
          />
          <button class="nav-search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <h2 class="copy-header">
          <i class="fa-solid fa-hand-holding-dollar fantasma"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </h2>
      </div>
      <a href="#" class="hamburger-button">
        <div class="fas fa-bars"></div>
      </a>
      <br>
      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#productosOferta">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="fa-regular fa-address-card"></i
            ></a>
          </li>
          <li>
            <a href="/login"
              >Ingresá <i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a href="#"
              >Mis compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
      <div class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de Mercado Liebre" />
      </div>
    </header>
    <main class="container">
      <h2 class="heading">Basado en tu última visita</h2>
      <section class="visitedProducts">
        <article class="product">
          <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
          <div class="product-desc-box">
            <i class="fa-solid fa-truck product-delivery-icon"></i>
            <p class="price">$6.770</p>
            <p class="discount">40% off</p>
            <br />
            <h3 class="description">Cafetera Moulinex</h3>
          </div>
        </article>
        <article class="product">
          <img src="images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" />
          <div class="product-desc-box">
            <i class="fa-solid fa-truck product-delivery-icon"></i>
            <p class="price">$230.000</p>
            <p class="discount">20% off</p>
            <br />
            <h3 class="description">Macbook Pro 2019</h3>
          </div>
        </article>
        <article class="product">
          <img
            src="images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="product-desc-box">
            <i class="fa-solid fa-truck product-delivery-icon"></i>
            <p class="price">$70.500</p>
            <p class="discount">10% off</p>
            <br />
            <h3 class="description">Samsung Galaxy S10</h3>
          </div>
        </article>
        <article class="product">
          <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" />
          <div class="product-desc-box">
            <i class="fa-solid fa-truck product-delivery-icon"></i>
            <p class="price">$23.200</p>
            <p class="discount">5% off</p>
            <br />
            <h3 class="description">SmartTv Samsung 43</h3>
          </div>
        </article>
      </section>
      <h2 class="heading">Ofertas</h2>
      <section class="discountedProducts">
        <article class="product">
          <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
          <div class="product-desc-box">
            <i class="fa-solid fa-truck product-delivery-icon"></i>
            <p class="price">$6.770</p>
            <p class="discount">40% off</p>
            <br />
            <h3 class="description">Cafetera Moulinex</h3>
          </div>
        </article>
        <article class="product">
          <img src="images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" />
          <div class="product-desc-box">
            <i class="fa-solid fa-truck product-delivery-icon"></i>
            <p class="price">$230.000</p>
            <p class="discount">20% off</p>
            <br />
            <h3 class="description">Macbook Pro 2019</h3>
          </div>
        </article>
        <article class="product">
          <img
            src="images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="product-desc-box">
            <i class="fa-solid fa-truck product-delivery-icon"></i>
            <p class="price">$70.500</p>
            <p class="discount">10% off</p>
            <br />
            <h3 class="description">Samsung Galaxy S10</h3>
          </div>
        </article>
        <article class="product">
          <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" />
          <div class="product-desc-box">
            <i class="fa-solid fa-truck product-delivery-icon"></i>
            <p class="price">$23.200</p>
            <p class="discount">5% off</p>
            <br />
            <h3 class="description">SmartTv Samsung 43</h3>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <div class="footer-info">
        <section>
          <i class="fa-solid fa-credit-card footer-icon"></i>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>
            Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre seguro!
          </p>
        </section>
        <section>
          <i class="fa-solid fa-gift footer-icon"></i>
          <h4>Envío gratis desde $2500</h4>
          <p>
            Solo por estar registrado en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un benegicio de Mercado Puntos.
          </p>
        </section>
        <section>
          <i class="fa-solid fa-user-shield footer-icon"></i>
          <h4>Seguridad de principio a fin</h4>
          <p>
            ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas
            hacer porque estás siempre protegid@.
          </p>
        </section>
      </div>
      <div class="footer-copyright">
        <small>Copyright &copy; 1999-2020 MercadoLiebre S.R.L</small>
      </div>
    </footer>
  </body>
</html>
