<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <a class="main-header-logo" href="/">
          <img
            src="images/logo-mercado-liebre.svg"
            alt="Logo de Mercado Liebre"
          />
        </a>
        <form class="nav-search">
          <input
            class="nav-search-input"
            type="text"
            placeholder="Buscar productos, marcas"
          />
          <button class="nav-search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <h2 class="copy-header">
          <i class="fa-solid fa-hand-holding-dollar fantasma"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </h2>
      </div>
      <a href="#" class="hamburger-button">
        <div class="fas fa-bars"></div>
      </a>
      <br>
      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#productosOferta">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="fa-regular fa-address-card"></i
            ></a>
          </li>
          <li>
            <a href="/login"
              >Ingresá <i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a href="#"
              >Mis compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="" method="POST" class="form-register">
        <h1 class="register-title">Registro</h1>
        <input
          class="control"
          type="text"
          id="nombre"
          name="nombre"
          placeholder="Nombre y apellido"
          minlength="2"
          required
        />
        <input
          class="control"
          type="text"
          id="usuario"
          name="usuario"
          placeholder="Nombre de usuario"
        />
        <input
          class="control"
          type="email"
          name="email"
          id="email"
          placeholder="E-mail"
        />
        <h3 class="register-subtitle">Fecha de nacimiento</h3>
        <input
          class="control"
          type="date"
          name="fechaNacimiento"
          id="fechaNacimiento"
        />
        <input
          class="control"
          type="text"
          name="domicilio"
          id="domicilio"
          placeholder="Domicilio"
        />
        <h3 class="register-subtitle">Perfil del usuario</h3>
        <label
          ><input type="radio" name="perfil" /> Comprador
          <input type="radio" name="perfil" /> Vendedor</label
        >
        <h3 class="register-subtitle">Intereses</h3>
        <div class="intereses">
          <label for="electro"
            ><input type="checkbox" name="intereses" id="electro" />
            Electro</label
          >
          <label for="moda"
            ><input type="checkbox" name="intereses" id="moda" /> Moda</label
          >
          <label for="hogar"
            ><input type="checkbox" name="intereses" id="hogar" /> Hogar</label
          >
          <label for="jugueteria"
            ><input type="checkbox" name="intereses" id="jugueteria" />
            Juguetería</label
          >
          <label for="vidaSana"
            ><input type="checkbox" name="intereses" id="vidaSana" /> Vida
            sana</label
          >
        </div>
        <br />
        <h3 class="register-subtitle">Foto del usuario</h3>
        <input type="file" name="imagen" id="imagen" />
        <input class="control" type="password" placeholder="Contraseña" />
        <input
          class="control"
          type="password"
          placeholder="Confirmar contraseña"
        />

        <button class="register-submit-btn" type="submit">Enviar</button>
        <button class="register-reset-btn" type="reset">Borrar</button>
      </form>
    </main>
    <footer>
      <div class="footer-info">
        <section>
          <i class="fa-solid fa-credit-card footer-icon"></i>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>
            Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre seguro!
          </p>
        </section>
        <section>
          <i class="fa-solid fa-gift footer-icon"></i>
          <h4>Envío gratis desde $2500</h4>
          <p>
            Solo por estar registrado en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un benegicio de Mercado Puntos.
          </p>
        </section>
        <section>
          <i class="fa-solid fa-user-shield footer-icon"></i>
          <h4>Seguridad de principio a fin</h4>
          <p>
            ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas
            hacer porque estás siempre protegid@.
          </p>
        </section>
      </div>
      <div class="footer-copyright">
        <small>Copyright &copy; 1999-2020 MercadoLiebre S.R.L</small>
      </div>
    </footer>
  </body>
</html>
