.form-register {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-title {
  text-align: center;
  margin: 20px;
  font-size: 28px;
}

.register-subtitle {
  margin: 20px 50px;
  font-size: 1.2rem;
  align-self: flex-start;
}

input {
  font-size: 16px;
  padding: 12px;
  margin: 15px;
  border: none;
}

.control {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 400px;
}

.interests {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 50px;
}

label {
  margin-right: 10px;
  font-size: 1.1rem;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 10px;
}

.register-submit-btn, .register-reset-btn {
  width: 80%;
  max-width: 400px;
  margin: 10px 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #1259c3;
}

.register-submit-btn:hover, .register-reset-btn:hover {
  background-color: #03264c;
}
