@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
body {
  font-size: 12px;
  font-family: Roboto;
}

.main-header {
  background-color: #eac926;
  padding: 20px;
}

.logo {
  width: 200px;
}

.copy-header {
  font-weight: 400;
  text-align: center;
}

.hamburger-button {
  background-color: #03264c;
  color: white;
  display: block;
  max-width: 50px;
  padding: 15px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  margin: auto;
}

.main-navbar {
  display: none;
}

.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}

.nav-search {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }
  
  .nav-search-input {
    width: 80%;
    height: 40px;
    margin: 0;
    border-radius: 2px 0px 0px 2px;
    border-width: 1.5px;
    box-sizing: border-box;
    padding: 10px 60px 10px 15px;
    font-size: 14px;
    color: rgb(60, 65, 68);
    background-color: rgb(220, 218, 215);
    box-shadow: rgba(24, 26, 27, 0.2) 0px 1px 2px 0px;
    border-color: rgba(24, 26, 27, 0);
    border: none;
  }
  
  .nav-search-btn {
    color: rgb(96, 104, 108);
    background-color: rgb(220, 218, 215);
    box-shadow: rgba(24, 26, 27, 0.2) 0px 1px 2px 0px;
    padding: 0;
    border: none;
    font-size: 22px;
    color: #666;
    border-radius: 0 2px 2px 0;
    width: 46px;
    height: 40px;
    box-sizing: border-box;
  }

@media (min-width: 768px) {
  .main-header-top-bar {
    display: flex;
    justify-content: space-between;
  }

  .copy-header {
    max-width: 350px;
    text-align: right;
  }

  .hamburger-button {
    display: none;
  }

  .main-navbar {
    display: flex;
    justify-content: space-between;
  }

  .main-navbar ul {
    display: flex;
  }

  .main-navbar li {
    margin: 0 5px;
  }
}

@media (min-width: 1200px) {
  .logo {
    width: 250px;
  }
  .main-header-top-bar,
  .main-navbar {
    max-width: 1200px;
    margin: auto;
  }

  .main-navbar li {
    margin: 0 10px;
  }

  .main-navbar a {
    font-size: 19px;
  }

  .main-navbar {
    margin-top: 20px;
  }

  .copy-header {
    max-width: none;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }

  .main-header-top-bar {
    align-items: center;
  }
}

.titular {
  font-size: 24px;
  text-align: center;
}

.precio {
  font-size: 18px;
}

.descuento {
  font-size: 16px;
}

.descripcion {
  font-size: 16px;
}

.producto {
  text-align: center;
}

.producto img {
  border-radius: 10px;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.banner img {
  width: 100%;
}

footer {
  text-align: center;
  background-color: white;
}

footer .icono {
  font-size: 2rem;
  color: #1259c3;
}

footer h4 {
  color: #666;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
}

footer p {
  color: #666;
  margin-top: 0px;
}

footer section {
  margin-top: 50px;
  padding-left: 20%;
  padding-right: 20%;
}

#copyright {
  margin-top: 40px;
  margin-left: 20px;
  text-align: left;
}
